h1 {
  color: black;
  text-align: center;
  font-size: 5em;
  fonts: courier;
}
h2 {
  color: black:
  font-family: italic;
}
h3 {
  color: Black;
  font-family: fantasy;
}
h4 {
  color: Black;
  font-size: 2em;
  font-family: fantasy;
}
h5 {
  color: Black;
  font-family: fantasy;
  font-size: 1em;
}
body  {
     background-color: grey;
}
h6 {
  color: Black;
  font-family: fantasy;
  font-size: 1em;
}
p {
  font-family: cursive;
  font-size: 20px
}
