h1 {
  color: black;
  text-align: center;
  font-size: 5em; ;
  fonts: courier;
}
h2 {
  color: black:
  <em>font-style: italic;</em>
}
h3 {
  color: Black;
  font-family: fantasy;
}
h4 {
  color: Black;
  font-family: fantasy;
}
h5 {
  color: Black;
  font-family: fantasy;
}
body  {
     background-color: grey;
}
p {
  font-family: cursive;
  font-size: 20px
}
